##  Student Management System
Creating a student management system for a school using basic Python operations.

In [21]:
#creating list of students in 2 classrooms:

class_1 = ['Rushabh Heman','Omkar Kadam','Vivek Macha','Ashok Patel']
class_2 = ['Rohit Awate','Kiran Shetty','Prasad Dugade']

In [22]:
#combining both lists to create one common list of students:

new_class = class_1 + class_2
print(new_class)

['Rushabh Heman', 'Omkar Kadam', 'Vivek Macha', 'Ashok Patel', 'Rohit Awate', 'Kiran Shetty', 'Prasad Dugade']

In [23]:
#adding the name of a student who was missing :

new_class.append('Rupesh Gavit')
print(new_class)

['Rushabh Heman', 'Omkar Kadam', 'Vivek Macha', 'Ashok Patel', 'Rohit Awate', 'Kiran Shetty', 'Prasad Dugade', 'Rupesh Gavit']

In [24]:
#removing a wrong entry of name from the combined list: 

new_class.remove('Prasad Dugade')
print(new_class)

['Rushabh Heman', 'Omkar Kadam', 'Vivek Macha', 'Ashok Patel', 'Rohit Awate', 'Kiran Shetty', 'Rupesh Gavit']

In [25]:
#Lets calculate the % score of 'Vivek Macha':
#creating a dictionary of marks obtained by 'Vivek Macha' in respective subjects:
# and adding all Marks

courses = {'Math': 65, 'English':70, 'History': 80, 'Geography': 70, 'Science': 60}
total = courses['Math'] + courses['English'] + courses['History'] + courses['Geography'] + courses['Science']
print(total)

345

In [26]:
# since all marks obtained are outof 100

percentage = (total / 500) * 100
print(percentage)

69.0

In [27]:
#Now to find the topper in mathematics, we create another dictionary of students with their respective maths score: 
mathematics = {'Omkar Kadam':78, 'Rushabh Heman':95, 'Vivek Macha':65, 'Ashok Patel':50, 'Rohit Awate':70, 'Kiran Shetty':66, 'Pooja Bhosale':75}

#compares the value & returns the key:
topper = max(mathematics,key = mathematics.get)
print(topper)

Rushabh Heman

In [28]:
#to get the last name first:

first_name = topper.split()[0]
last_name = topper.split()[1]
full_name = last_name + ' ' + first_name

In [29]:
#to highlight the name, printing in uppercase:

uppercase_name = full_name.upper()
print(uppercase_name)

HEMAN RUSHABH

### This is my first basic python project:
Things i learnt:

    1.Mathematical operations
    2.List operations
    3.Dictionary operations
    4.String indexing and formatting